<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "instructors/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "instructors/css/glyphicons.css" %}">

</head>

<body>
    <div id="app"></div>

    <script src="{% static "instructors/js/jquery-3.4.1.js" %}"></script>
    <script src="{% static "instructors/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "instructors/main.js" %}"></script>
</body>

</html>